<div data-th-fragment="login-form">
    <form method="post"
          data-th-action="${url + '/germ/' + requestPath}"
          class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Authentication - <span class="smaller">use userstore\username if not in default userstore</span></legend>
            <input type="hidden" name="cmd" value="authenticate"/>
            <input type="text" name="germusername" id="germusername" placeholder="Enter germ username"
                   data-th-value="${germusername!=null ? germusername : ''}"/>
            <input type="password" name="germpassword" id="germpassword" placeholder="Enter germ password"/>
            <input type="submit" value="Authenticate" class="pure-button pure-button-primary"/>
        </fieldset>
    </form>
</div>